.sheetOuter {
    margin: 0;
}
.sheetOuterLetterSheet {
  width: 215mm;
  height: 279mm;
}
.sheet {
    margin: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    /* outline: 3mm black solid;
    outline-offset: -3mm; */
}
.insertPageBreak {
    page-break-after: always;
        /* outline: 2mm green solid;
    outline-offset: -2mm; */
}


.sheetPadding5mm { padding: 5mm }

@page {
    size: letter;
    margin: 0
}

@media screen {
    .sheet {
        background: white;
        box-shadow: 0 .5mm 2mm rgba(0,0,0,.3); 
        margin: 5mm auto;
        margin-top: 50px;
        margin-left: 10px;
    }
}

@media print {
    .sheetOuterLetter { 
        width: 216mm 
    }
}